@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
}

 .navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
 }
 .nav-links{
    display: flex;

 }
 .nav-item{
    list-style: none;
 }
 .nav-link{
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.1rem;
 }
 .navbar , .banner{
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1440px;
    
 }
 .brand{
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 53px;
 }
 

/* banner


*/

.banner-content{
    max-width: 850px;
    text-align: center;
    padding: 30px 0;
    margin: 0 auto
}
.banner-content h2{
    font-size: 3.9rem;
    font-weight: 700;
}
.banner-content p{
    font-size: 1rem;
    opacity: 0.6;
    padding: 10px 0;
}
.btn{
    padding: 10px 20px;
    background-color: rgb(255, 144, 14);
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}
.banner-img{
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    
} 
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin: 120px 0;
}
.teams{
    display: flex;
    align-items: center;
    gap: 20px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    align-items: center;
    text-align: center;
    max-width: 530px;
    margin-left: 130px;
}
.features-title{
    font-size: 2.9em;
    font-weight: 700;
}
.features-description{
    font-size: 1em;
    opacity: 0.7;
    margin: 10px 0 20px 0;
    line-height: 1.6rem;
}
.span-1{
    color: gray;
}
.span-2{
    color: black;
}
.span-3{
    color: orange;
}
@media screen and (max-width: 576px) {
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    .our-features{
        margin-left: 20px;
    }
    
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 0 auto;
    }
}

/* 
features seciton related style
*/
.about-features{
    display: flex;
}
.first-features h2{
    font-size: 1.8rem;
}
.first-features p{
    font-size: 1rem;
    opacity: 0.7;
    padding: 20px 0;
}
.feature-card{
    border-radius: 8px;
    width: 586px;
    height: 170px;
    margin-top: 30px;
    text-align: center;
    padding: 40px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
}
#btn-details{
    margin-top: -100px;
    width: 242px;
    height: 100px;
}
#experience-year{
    padding: 45px 42px;
    font-size: 1.5rem;
}

#experience-badge{
    font-size: 3rem;
}


#feature-section-title{
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;
}


@media screen and (max-width: 576px) {
    .about-features{
        flex-direction: column;
    }
    .first-features h2{
        font-size: 1rem;
    }
    .feature-card{
        text-align: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .second-features img{
        width: 100%;
    }
    #btn-details{
        width: 40%;
        height: 20%;
        margin: 0 auto;
    }
    #experience-badge{
        font-size: 1rem;
    }
    #experience-year{
        font-size: 0.8rem;
    }
}

/* facts
 */

.facts{
    max-width: 1440px;
    margin: 0 auto;
}
.fact-content{
    padding-bottom: 60px;
}
.fact-content h3{
    font-size: 2.8rem;
    font-weight: 700;
}
.fact-content p{
    padding: 20px 0;
    font-size: 1rem;
    opacity: 0.8;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: space-between;
}
.fact{
    max-width: 241px;
    border: 1px solid rgb(194, 36, 36);
   text-align: center;
   padding: 20px 0;
   border-radius: 5px;
}
.fact h5{
    padding: 10px 0;
}

@media screen and (max-width: 576px) {
    .fact-content{
        text-align: center;
    }
    .fact-content h3{
        font-size: 2rem;
    }
    .fact-container{
        grid-template-columns: 1fr;
    }
    .fact{
        width: 100%;
        margin: 0 auto;
    }
}
.sponsers{
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0;
}
.sponsers-content{
    margin: 20px 0;
    text-align: center;
}
.sponsers-content h4{
    font-size: 2.8rem;
}
.sponsers-content p{
    font-size: 1rem;
    padding: 62px 0;
}
.social-media-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 576px) {
    .social-media-container{
        flex-direction: column;
    }
    .sponsers-content h4{
        font-size: 2rem;
    }
    .sponsers-content p{
        width: 50%;
        margin: 0 auto;
    }
    .social-media-container .logo{
        margin-top: 20px;
    }
    
}
.footer{
    text-align: center;
    align-items: center;

    max-width: 1440px;
    height: 100px;
    border-radius: 8px;
background: rgb(255, 244, 231);
margin: 0 auto;
}
.footer p{
    padding: 30px 0;
}

